@import "./normalize.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Color Pallete */
:root {
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-headings: #1b0760;
  --color-light: #f8f4f4;
}

/* Typography */
body {
  color: var(--color-body);
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 0.1px;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

::selection {
  background: var(--color-body-darker);
  color: #fff;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  letter-spacing: 0.5px;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 3rem;
  text-shadow: 1.5px 0px var(--color-body);
  word-spacing: 0.5rem;
}

h1 {
  font-size: 2.781rem;
}

h2 {
  font-size: 2.527rem;
}

h3 {
  font-size: 2.302rem;
}

p {
  font-size: 1.924rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.281rem;
  }

  h2 {
    font-size: 2.027rem;
  }

  h3 {
    font-size: 1.802rem;
  }

  p {
    font-size: 1.424rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

/* Icons */
.icon {
  color: var(--color-body);
  cursor: pointer;
  width: 2rem;
}

@media screen and (min-width: 768px) {
  .icon {
    width: 2rem;
  }
}

/* Container */
.container {
  max-width: 1000px;
  margin: 7rem auto 0;
  padding: 0 2rem;
}

/* Table of Content */
.table-of-content {
  cursor: pointer;
  background-color: var(--color-light);
  border-radius: 1rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.table-of-content__header {
  align-items: center;
  border-bottom: 0.2px solid #6e6969;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-of-content__heading {
  color: var(--color-body-darker);
  margin: 1rem 0;
}

.content {
  margin: 0.8rem 0;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.content:hover {
  background: #c8c4d6;
  color: var(--color-headings);
  padding-left: 1rem;
  transform: scale(1.01);
}

/* Maamkizi Section */
.swahili-english__swahili,
.swahili-english__english {
  margin: 0.7rem 0;
}

.translation {
  color: var(--color-body-darker);
}

.swahili-english__swahili-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.swahili-english .icon {
  width: 1rem;
}

/* Page Navigators */
.pages-navigators {
  display: flex;
  flex-direction: row;
}

.pages-navigators :first-child {
  margin-right: 1rem;
}

.pages-navigators :first-child .page-navigator__section-name::before {
  content: "<< ";
}

.pages-navigators :nth-child(2) {
  margin-left: 1rem;
}

.pages-navigators :nth-child(2) .page-navigator__section-name::after {
  content: " >>";
}

.page-navigator {
  border: 1px solid var(--color-light);
  border-radius: 10px;
  padding: 0.2rem 1rem;
  margin: 2rem 0;
  width: 50%;
}

.page-navigator__section-name {
  color: var(--color-body-darker);
  cursor: pointer;
}

.next-page-navigator {
  text-align: right;
}

/* Tarakimu */
.tarakimu__heading {
  text-align: center;
}

/* Table */
.table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  margin: 0 auto;
  width: 100%;
}

.table__heading {
  text-transform: capitalize;
}

.table thead tr {
  background-color: #009879;
  color: #fff;
  text-align: left;
}

.table th,
.table td {
  padding: 1.2rem 1.5rem;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
  border-radius: 30px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .table {
    font-size: 1.5rem;
  }
}

/* English Swahili Inline */
.english-swahili-inline {
  display: flex;
  flex-direction: row;
}

.english-swahili-inline .swahili {
  color: var(--color-body-darker);
}

/* Miezi ya Mwaka */
.zoezi__kichwa {
  color: var(--color-body-darker);
}

/* Buttons */
.btn {
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 1px;
  outline: none;
  padding: 1.5rem 0.5rem;
  text-transform: uppercase;
  width: 100%;
}

.btn--primary {
  background: #0d6efd;
  color: #fff;
}

.btn--primary:hover {
  background: #4d86dc;
}

.btn--primary:focus {
  background-color: var(--color-body);
}

/* Forms */
.form {
  border-radius: 20px;
  box-shadow: 0 0 10px #b9d3fa;
  margin: 5rem auto;
  max-width: 70rem;
  padding: 0.5rem 1rem 2rem;
}

.form__heading {
  margin-top: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.form-group {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form-group__label {
  display: block;
}

.form-control {
  background-color: transparent;
  border-radius: 9px;
  border: 1px solid #ced4da;
  color: var(--color-body-darker);
  outline: 0;
  padding: 0.5rem;
  transition: all 0.15s;
  width: 100%;
}

.form-control:focus {
  border: 1.5px solid #86b7fe;
  box-shadow: 0 0 5px #b9d3fa;
}

.form-group__error-message {
  color: rgb(243, 37, 37);
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .form {
    font-size: 1.5rem;
  }
}

/* List */
.list {
  list-style: none;
  padding-left: 0;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all ease-out 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* NavBar */
.nav {
  align-items: center;
  background: #fff;
  box-shadow: 0 0 5px var(--color-body);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0.98;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  border-bottom: 1px solid var(--color-light);
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  transition: all 0.3s;
}

.nav__item:hover {
  background: var(--color-light);
  font-weight: 600;
}

.nav__logo {
  width: 7rem;
  margin: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .nav__logo {
    width: 9rem;
  }

  .nav__icon {
    display: none;
  }

  .nav__item {
    border: 0;
    font-size: 1.5rem;
    padding: 0 1.3rem;
    transition: transform 0.3s;
  }

  .nav__item:hover {
    background: 0;
    transform: scale(1.1);
  }
}

/* Hero */
.hero {
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
  background: url(../icons/background.svg);
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.hero__heading {
  font-size: 4rem;
  letter-spacing: -1px;
  text-align: center;
}

.hero__tagline {
  text-align: center;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .hero__heading,
  .hero__tagline {
    text-align: left;
  }
}

/* Grids */
.grid {
  display: grid;
  gap: 0 2rem;
}

.grid__image {
  display: flex;
  justify-self: center;
  max-width: 40rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid__image {
    justify-self: center;
  }
}

/* Blocks */
.block {
  align-items: center;
  margin-bottom: 6rem;
}

.block__heading,
.block__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .block {
    margin-bottom: 3rem;
  }

  .block__heading,
  .block__content {
    text-align: left;
  }
}

/* Callout */
.header {
  text-align: center;
  font-size: 4rem;
}

.callout__heading {
  font-size: 3rem;
}

.callout__image {
  width: 100%;
}

.callout__content {
  font-size: 2rem;
}

.callout__btn {
  align-items: center;
  border: 2px solid var(--color-headings);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  text-transform: capitalize;
  transition: all 0.3s;
}

.callout__btn:hover {
  background: var(--color-headings);
  box-shadow: 0 0 10px 10px var(--color-light);
  color: #fff;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .callout:nth-of-type(even) .callout__image {
    order: 2;
  }

  .callout__heading {
    font-size: 2.5rem;
    letter-spacing: -1px;
  }

  .callout__content {
    font-size: 1.5rem;
  }

  .callout__btn {
    border: 2px solid var(--color-headings);
    flex-wrap: nowrap;
    margin: 2rem 0;
    padding: 0.5rem 0.7rem;
    text-transform: capitalize;
    width: 35%;
  }
}

/* Card */
.card {
  border-radius: 30px;
  border: 0.5px solid var(--color-headings);
  cursor: pointer;
  margin: 3rem auto;
  max-width: 50rem;
  overflow: hidden;
  padding: 1.5rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
}

.card:hover {
  border: 2px solid var(--color-headings);
  box-shadow: 0 0 30px 20px var(--color-light);
  padding: 1rem 2rem;
  transform: scale(1.01);
}

.card__image {
  transition: scale 1s;
  width: 100%;
}

.card__image:hover {
  transform: scale(1.1);
}

.card__heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.card:hover .card__heading {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .levels {
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .card {
    margin: 2rem;
    /* min-width: none; */
  }
}
